body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
}

input {
  border: 2px solid black;
  height: 25px;
  width: 200px;
  margin: 5px;
  font-size: medium;
  border-color: olive;
}

.btn {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  background-color: olive;
  border-radius: 10px;
}


